*{
    padding: auto;
    margin: auto;
}


.div{
    padding: 15px;
    text-align: center;
}

.div label{
    color: green;
}

.div input{
    padding: 5px 5px 5px 5px;
    margin: 20px 16px;
    border-radius: 7px;
}

.div1{
    padding: 15px;
    text-align: center;
}

.div1 label{
    color: green;
}

.div1 input{
    padding: 5px 5px 5px 5px;
    margin: 20px 16px;
    border-radius: 7px;
}

.div1 select{
    padding: 5px 5px 5px 5px;
    margin: 20px 16px 0 0;
    border-radius: 7px;
}

.btn{
    text-align: center;
    
}

.btn button{
    background-color: aquamarine;
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
}

.btn button:hover{
    background-color: black;
    color: aqua;
    opacity: 70%;
}
